#nextWindow {
    position: fixed;
    top: 254px;
    left: 40px;
}
#nextBlocks {
    position: relative;
    background-color: gainsboro;
    height: 40px;
    width: 160px;
}
#nextText {
    position: relative;
}
#nextButton {
    position: relative;
}

.nextBlock {
    margin: 5px;
    display: inline-block;
}
.horizontal {
    width: 30px;
    height: 15px;
}
.vertical {
    width: 15px;
    height: 30px;
}
.block {
    background-color: red;
}
.erase {
    background-color: green;
}

.test {
    background-color: darkgoldenrod;
}
