#nextWindow {
    position: fixed;

    top: 600px;
    left: 40px;

    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);

}
#nextBlocks {
    position: relative;
    background-color: gainsboro;
    height: 40px;
    width: auto;
}
#nextText {
    position: relative;
}
#nextButton {
    position: relative;
}

.nextBlockContainer {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.nextBlock {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}
.horizontal {
    width: 30px;
    height: 15px;
}
.vertical {
    width: 15px;
    height: 30px;
}
.block {
    background-color: red;
}
.erase {
    background-color: green;
}

.test {
    background-color: darkgoldenrod;
}
